# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
sessions/
outputs/
logggs.txt
*.csv
users.json
session_status.json
*.pem
.cloudflared/

# IDE
.vscode/
.idea/
sessions.json
